

<h4> Form </h4>
<form>
  Text Field<br>
  <input type="text" name="firstname"><br>

  <p>Select Box </p>
  <div class="styled-select">
    <select>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </div>

  <p>Checkbox </p>
  <input type="checkbox" name="some" value="other">


  <p>Radio Buttons </p>
  <input type="radio" name="some" value="other">
</form>



<br>

<h4> Text area </h4>
<textarea class="box-input" name="comment">Enter text here...</textarea>
