<%#= render partial: 'general_partials/title', locals: { section_title: "This is a h1 title", fa_icon: "fa-briefcase" } %>
<div class="title_header">
  <div class="container">
    <h1>
      <span class="fa-stack fa-lg highlight">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa <%= "fa-briefcase" %> fa-stack-1x fa-inverse"></i>
      </span>
      <%= "This is a h1 title" %>
    </h1>
  </div>
</div>

<h2>This is a h2 title</h2>
<div style="background-color: #e84c3d;"><h3>This is a H3 section title - white - for solid color background</h3></div>
<h4>This is a h4 title</h4>
<h5>This is a h5 title</h5>
