<%# if devise_error_messages! %>
  <%#= devise_error_messages! %>
<%# end %>

<% if notice %>
  <div class="notice"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="alert"><%= alert %></div>
<% end %>
